/*Aboutus.css*/

body {
  font-family: 'Josefin Sans', sans-serif;
  /* Add your background styles here if needed */
}

.about-us-container {
  text-align: center;
  max-width: 80%; /* Adjust the maximum width as needed, e.g., 80%, 90% */
  margin: 0 auto;
}

.welcome-text {
  margin-top: 20px; /* Adjust margin as needed */
}

.about-us-title {
  margin-top: 20px;
}

.white-box {
  background-color: #ffffff; /* White background color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  margin-bottom: 20px; /* Optional: Add margin to separate the white box from other content */
}

.about-us-image {
  width: 100%;
  max-width: 100%;
}

.about-us-section {
  margin-top: 50px;
}

.our-goal-section, .Team-profile {
  margin-top: 50px; /* Adjust margin as needed */
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 20px;
}

.card {
  width: 200px; /* Adjust card width as needed */
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%; /* Adjust card width for smaller screens */
  }
}