/* Aboutus.css */

body {
  font-family: 'Josefin Sans', sans-serif;
}

.about-us-container {
  text-align: center;
  max-width: 80%; 
  margin: 0 auto;
}

.aboutus {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-us-image {
  max-width: 60%; 
}

.welcome-text {
  margin-top: 30px; 
  margin-bottom: 20px; 
  text-align: center;
  color: #27374D;
}

.welcome-text p {
  margin: 20px 25px;
  text-align: justify;
  color: #526D82;
}

.our-goal-section {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.our-goal-section p {
  margin: 20px;
  color: #526D82;
}


.Team-profile {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0 50px 0;
}

.Team-profile h1{
  color: #27374D;
  padding: 25px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member1, .member2, .member3, .member4 {
  padding: 20px;
  margin-bottom: 50px;
}

.card {
  width: 250px; /* Adjust card width as needed */
  text-align: center; /* Center card content */
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: justify;
  color: #526D82;
}

.member-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
  color: #27374D;
}
