/* Aboutus.css */

body {
  font-family: 'Josefin Sans', sans-serif;
}

.about-us-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.about-us-title {
  margin-top: 20px;
}

.about-us-image {
  max-width: 100%;
  margin-top: 20px;
}

.about-us-section {
  margin-top: 50px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 20px; /* Add margin around each team member */
  text-align: center; /* Center text inside team-member */
  display: inline-block; /* Make sure team-member takes up only the space it needs */
}

.team-member img {
  max-width: 100%;
  border-radius: 50%;
  display: inline;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }
}
