body{
    background-color: #DDE6ED;
}

.welcome button {
    font-size: 15px;
    font-weight: bold;
    color: #27374D;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.welcome button:hover {
    background-color: #DDE6ED;
    transition: 0.3s;
}

strong {
    font-size: 69px;
    color: whitesmoke;
}

.slogan {
    margin: 0;
    padding-top: 10px;
    font-size: 23px;
    color: lightgrey;
}