.gallery-container {
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    background-color: #DDE6ED;
    width: 50%;
    height: 100%;
    border: 0px solid;
    display: flex; /* Use flexbox to center horizontally and vertically */
    justify-content: center;
    align-items: center;
  }
  
  .file-label {
    background-color: white;
    color: #27374D;
    border-radius: 8px;
    border: 0.1px solid #27374D;
    display: flex;
    width: 150px;
    white-space: nowrap;
    font-size: 15px;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .file-label:hover {
    background-color: #142132;
    color: white;
  }
  
  .Petprofile-Add {
    background-color: white;
    color: #27374D;
    border-radius: 8px;
    border: 0.1px solid #27374D;
    display: flex;
    width: 150px;
    white-space: nowrap;
    font-size: 18px;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .Petprofile-Add:hover {
    background-color: #142132;
    color: white;
  }

  .user-profile-image img {
    object-fit: cover;
    border-radius: 50%;
   
  }
  