* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .Home,
  .Dictionary,
  .Gallery,
  .Aboutus {
    background-color: #DDE6ED;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .Dictionary {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .Gallery {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .Aboutus {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .home-container {
    padding-top: 25px;
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 130px;
    border-radius: 30px;
    display: block;
  }
  .home-buttons{
    width: 100%;
    display: flex;
    border: 0px solid;
    height: 40px;
  }
  .button-labels{

    margin-bottom: 1px;
    width: 100%;
    display: flex;
    border: 3px solid;
    height: 40px;
  }
  
  .content-container{
    padding-top: 0px;
    background-color: #DDE6ED;
    width: 70%;
    margin: -40px auto 50px;
    
    height: auto;
    border: 0px solid;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .content-1{
    margin: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #DDE6ED;
    width: 98%;
    height: auto;
    border: 0px solid;
  }
  
  
  
  
  
 
 