.box-container {
  width: 100%;
  max-width: 1199px;
  height: 650px;
  margin: 20px auto 0;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #27374D;
}
