/* UserProfile.css */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-top: 8px;
}

.box {
  display: flex;
  width: 70%;
}

.profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 100px;
}

.profile-image img {
  width: 250px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid black;
}

.edit-profile-btn {
  background-color: #27374D;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.paper-container {
  flex: 1;
  padding: 120px;
  background-color: #27374D;
  margin-left: 10px;
  border-radius: 20px;
}

.info-column {
  display: flex;
  flex-direction: column;
}

.info-item {
  margin-bottom: 25px;
  color: #DDE6ED;
}

.bold-text {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

